[submodule "nvim/.config/nvim/pack/syntax/start/vim-polyglot"]
	path = nvim/.config/nvim/pack/syntax/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot
[submodule "nvim/.config/nvim/pack/color/start/gruvbox"]
	path = nvim/.config/nvim/pack/color/start/gruvbox
	url = git@github.com:morhetz/gruvbox
[submodule "nvim/.config/nvim/pack/color/opt/gruvbox"]
	path = nvim/.config/nvim/pack/color/opt/gruvbox
	url = git@github.com:morhetz/gruvbox
[submodule "nvim/.config/nvim/pack/color/opt/rigel"]
	path = nvim/.config/nvim/pack/color/opt/rigel
	url = git@github.com:rigellute/rigel
[submodule "nvim/.config/nvim/pack/color/opt/base16-vim"]
	path = nvim/.config/nvim/pack/color/opt/base16-vim
	url = git@github.com:chriskempson/base16-vim
[submodule "nvim/.config/nvim/pack/color/opt/vim-gotham"]
	path = nvim/.config/nvim/pack/color/opt/vim-gotham
	url = git@github.com:whatyouhide/vim-gotham
[submodule "nvim/.config/nvim/pack/ui/start/gitsigns.nvim"]
	path = nvim/.config/nvim/pack/ui/start/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim
[submodule "nvim/.config/nvim/pack/misc/start/plenary.nvim"]
	path = nvim/.config/nvim/pack/misc/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "nvim/.config/nvim/pack/syntax/start/vim-yul"]
	path = nvim/.config/nvim/pack/syntax/start/vim-yul
	url = git@github.com:mattdf/vim-yul
[submodule "nvim/.config/nvim/pack/syntax/start/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/syntax/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "nvim/.config/nvim/pack/syntax/start/cmp-nvim-lsp"]
	path = nvim/.config/nvim/pack/syntax/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "nvim/.config/nvim/pack/syntax/start/cmp-buffer"]
	path = nvim/.config/nvim/pack/syntax/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer
[submodule "nvim/.config/nvim/pack/syntax/start/cmp-path"]
	path = nvim/.config/nvim/pack/syntax/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path
[submodule "nvim/.config/nvim/pack/syntax/start/cmp-cmdline"]
	path = nvim/.config/nvim/pack/syntax/start/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline
[submodule "nvim/.config/nvim/pack/syntax/start/nvim-cmp"]
	path = nvim/.config/nvim/pack/syntax/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "nvim/.config/nvim/pack/syntax/start/lspkind-nvim"]
	path = nvim/.config/nvim/pack/syntax/start/lspkind-nvim
	url = git@github.com:onsails/lspkind-nvim
[submodule "nvim/.config/nvim/pack/syntax/start/LuaSnip"]
	path = nvim/.config/nvim/pack/syntax/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "nvim/.config/nvim/pack/syntax/start/cmp_luasnip"]
	path = nvim/.config/nvim/pack/syntax/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule "nvim/.config/nvim/pack/ui/start/lualine.nvim"]
	path = nvim/.config/nvim/pack/ui/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim/.config/nvim/pack/ui/start/fzf-lua"]
	path = nvim/.config/nvim/pack/ui/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "nvim/.config/nvim/pack/misc/start/vimpeccable"]
	path = nvim/.config/nvim/pack/misc/start/vimpeccable
	url = https://github.com/svermeulen/vimpeccable
[submodule "nvim/.config/nvim/pack/color/opt/tokyonight.nvim"]
	path = nvim/.config/nvim/pack/color/opt/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
