* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans Regular";
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    background: rgb(0, 0, 0);
    color: white;
}

#workspaces button,
#tags button {
    padding: 8px;
    margin: 0 3px;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused, #tags button.focused {
    background: rgba(100, 114, 125, 0.2);
    border-bottom: 3px solid #fff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#backlight,
#idle_inhibitor,
#mode,
#custom-gh,
#custom-notifications {
    padding: 0 6px;
    margin: 0 5px;
}

#clock {
    background-color: transparent;
    color: white;
}

#tray {
    background-color: transparent;
}
