digitalocean.fish
fish_variables

# Ignore functions installed by Fisher
.config/fish/functions/*
!.config/fish/functions/ws.fish
!.config/fish/functions/pbcopy.fish
!.config/fish/functions/pbpaste.fish
!.config/fish/functions/cat.fish
!.config/fish/functions/clock.fish
!.config/fish/functions/fisher.fish
!.config/fish/functions/ls.fish

# Ignore configs installed by Fisher
.config/fish/conf.d/*
!.config/fish/conf.d/fnm.fish
!.config/fish/conf.d/greeting.fish
!.config/fish/conf.d/secrets.fish

# Ignore completions installed by Fisher
.config/fish/completions/*
!.config/fish/completions/fisher.fish
